<%- include('../components/head', { title: title, isAuth: isAuth }); %>
<div class="container">
    <div class="js-createBook">
        <%- include('../components/form', { buttonText: 'Добавить' }); %>
    </div>
</div>
<%- include('../components/foot'); %>
