<%- include('../components/head', { title: title, isAuth: isAuth }); %>
<div class="container">
    <div class="js-updateBook" data-id="<%= book.id %>">
        <%- include('../components/form', { buttonText: 'Редактировать' }); %>
    </div>
</div>
<%- include('../components/foot'); %>
