*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    height: 100%;
}

.header,
.footer {
    flex: 0 1 auto;
}

.content {
    flex: 1;
}

.comments {
    max-width: 380px;
    max-height: 800px;
    overflow: auto;
}

.comments .toast {
    box-shadow: none;
}
